body{
    background-color: white;
    color: black;
    transition: background 0.3s ease, color 0.3s ease;
    padding: 20px;
}

#toggle-dark {
    display: none;
}

.toggle-btn {
    padding: 10px 20px;
    background: #333;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 20px;
}

#toggle-dark:checked ~ h1,
#toggle-dark:checked ~ p,
#toggle-dark:checked ~ .toggle-btn,
#toggle-dark:checked ~ body {
    color: white;
}

/* Dark background */
#toggle-dark:checked ~ * {
    background-color: #121212;
    color: white;
}

.glowing-box{
    width: 100px;
    height: 100px;
    margin: 20px 0;
    background-color: #00ffea;
    border-radius: 10px;
    box-shadow: 0 0 20px #00ffea;
    animation: glow 2s infinite alternate;
}

@keyframes glow{
    0%{
        box-shadow: 0 0 10px #00ffea, 0 0 20px #00ffea;
        transform: scale(1);
    }
    100%{
        box-shadow: 0 0 30px #00ffea, 0 0 60px #00ffea;
        transform: scale(1.2)
    }
}

.loading-bar{
    width:300px;
    height:20px;
    background-color: #111;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.progress{
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, #00ffea, #ff00ff);
    animation: load 3s infinite;
}

@keyframes load {
    0% {width: 0%; }
    50% {width: 100%; }
    100% {width: 0%; }
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
}

body{
    background: #f8fafc;
    color: #0f172a;
    line-height: 1.6;
}

:root{
    --dark: #0f172a;
    --blue: #2563eb;
    --light: #f1f5f9;
    --white: #ffffff;
}

nav{
    background: var(--dark);
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 12px;
    text-decoration: none;
    font-weight: 600;
}

nav a:hover{
    color: #60a5fa;
}
section{
    padding: 70px 20px;
    max-width: 1100px;
    margin: auto;
}

.btn {
    background: var (--blue);
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
}

.btn hover{
    background: #1d4ed8;
    transform: scale(1.05);
}